
.image img{
    height: 400px;
    width: 400px;
    border: 20px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 3s;
    z-index: 1001;
}
/* .image img:hover{
    transform: scale(0.9);
    cursor: pointer;
} */
.btn {
    background: #c3073f;
    color: white;
    font-weight: 900;
}
.details h1 {
    color : white !important;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    
    /* font-family: 'Architects Daughter', cursive; */
    /* font-family: 'Irish Grover', cursive; */
}

/* .social .fab{
    color: #007BEC;  
}
.social .fas{
    color: #007BEC;  
} */